<div class="container">

    <div class="row">
    
    <div class="col s5">
    
    <div class="card">
    
    <div class="card-content">
    
    <form #empleadoForm="ngForm" (ngSubmit)="agregarEmpleado(empleadoForm)">
    
    <div class="row">
    
    <div class="input-field col s12">
    
    <input type="text" name="NombreEmpleado" #name="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.NombreEmpleado" placeholder="Ingrese su nombre" required>
    
    </div>
    
    <div class="input-field col s12">
    
    <input type="text" name="cargoEmpleado" #position="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.cargoEmpleado" placeholder="Ingrese su cargo" required>
    
    </div>
    
    <div class="input-field col s12">
    
    <input type="text" name="oficinaEmpleado" #office="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.oficinaEmpleado" placeholder="Ingrese su lugar de trabajo" required>
    
    </div>
    
    <div class="input-field col s12">
    
    <input type="text" name="salarioEmpleado" #salary="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.salarioEmpleado" placeholder="Ingrese su salario" re>
    
    </div>
    
    <div class="card-action">
    
    <div class="input-field col s6">
    <button class="btn right" type="button" (click)="resetForm(empleadoForm)">Limpiar </button>
    </div>

    <div  class="input-field col s6">
    <button class="btn" type="submit" >Guardar </button>
    </div>
    
    </div>
    
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="col s7">
    
    </div>
    
    </div>
    
    </div>

